<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%-  include('./partials/nav.ejs')%>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        incidunt saepe ea eveniet cumque nihil eaque illo, rerum cum velit
        voluptatem quas. Accusantium expedita officiis consequuntur quae a eos
        rerum!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        incidunt saepe ea eveniet cumque nihil eaque illo, rerum cum velit
        voluptatem quas. Accusantium expedita officiis consequuntur quae a eos
        rerum!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        incidunt saepe ea eveniet cumque nihil eaque illo, rerum cum velit
        voluptatem quas. Accusantium expedita officiis consequuntur quae a eos
        rerum!
      </p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
